{% extends "Header.html" %}

{% block content_block %}
<br>
<div class="jumbotron">
  <hr class="my-4">
  <h2>お知らせ</h2>
  <hr class="my-4">
  <body>
      {% for mes in Message_list %}
        <p>{{ mes.person }}</p>
        <p><div class="border border-dark p-2 rounded"style="height:10rem">{{ mes.message}}</div></p>
        {% if user.is_superuser or mes.person == user %}
          <p><a class='btn btn-danger btn-sm' href="{% url 'Scheduler:delete4' pk=mes.pk %}">お知らせを削除する</a></p>
        {% endif %}
        <br>
      {% endfor %}
  </body>
  <hr class="my-4">

  <div class="container">
    <p><a class='btn btn-outline-primary' href="{% url 'Scheduler:message' %}">お知らせを書く</a></p>
    <br>
  </div>
</div>
{% endblock %}