{% extends "Header.html" %}

{% block content_block %}
<br>
<div class="jumbotron">
  <hr class="my-4">
  <h2>教師一覧</h2>
  <hr class="my-4">
  <table class="table">
    <thead>
      <tr>
        <th>教師名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in teacher_list %}
      {% if not teacher.is_superuser %}
      <tr class="table-primary">
        <td>{{ teacher.username }}</td>
        <td><a href="{% url 'Scheduler:detail1' pk=teacher.pk %}">詳細</a></td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <hr class="my-4">

  <div class="container">
    <p><a class='btn btn-outline-primary' href="{% url 'Scheduler:signup' %}">教師を登録する</a></p>
    <br>
  </div>
</div>
{% endblock %}